body{
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.bg{
  background-color: #0f222d;
}
.indexBg{
  background-color: #dde8fa;
background-image: url("https://www.transparenttextures.com/patterns/cross-scratches.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
a{
  color: #b71c1c;
}
.tabs .tab a {
  color: #b71c1c;
  /*Custom Text Color*/
}

.tabs .tab a:hover {
  color:#b71c1c;
  /*Custom Color On Hover*/
}

.tabs .tab a:focus.active {
  color:#b71c1c;
  /*Custom Text Color While Active*/
  background-color: #ffebee;
  /*Custom Background Color While Active*/
}

.tabs .indicator {
  background-color:#b71c1c;
  /*Custom Color Of Indicator*/
}

.cardindex{
  background-color: rgba(250, 250, 250,0.95);
}

#toast-container .toast {
  cursor: pointer;
}


.demo-2 .form-search input[type=text] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
  border: solid 1px #ccc;
  padding: 9px 18px;
  width: 200px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.demo-2 .form-search input[type=text] {
  width:60px;
  position:absolute;
  right:0px;
  z-index:1000;
  padding:8px 12px;
  cursor:pointer;
}
.demo-2 .form-search div.input-group {
  width:60px;
}
.demo .form-search input[type=text]:focus {
  width: 350px;
  background-color: #fff;
}
.demo-2 .form-search input[type=text]:focus {
  position:absolute;
  right:60px;
  width:250px;
}
.demo .form-search button.btn,
.demo-2 .form-search button.btn {
  padding:16px 12px;
  border-top-right-radius:4px;
  border-bottom-right-radius: 4px;
  cursor:not-allowed;
}
.demo-2 .form-search button.btn {
padding:15px 12px;
}