{% extends "layout.html" %} {% block content %}

<div class="container center-align" >
    <br>
    <div class="row">
        <div class="col-sm s2">
            <a class="" href="#one!"><img src="{{url_for('static',filename='img/logoCM.png')}}" style="height: 30vh; width: 45vh;"></a>
        </div>
        <div class="col-sm s6 offset-s6">
            <div class="card-z s12 indexJumbotron z-depth-2 hoverable" >
                <!--   Icon Section   -->
                <div class="row text-white">
                    <div class="col-sm s12 ">
                        <h5 class="center" style="color:white;">
                            <br> ¿Qué hacer en CookMeasure?
                        </h5>
                        <br>
                        <br>
                    </div>
                    <div class="container">
                        <div class="row" style="columns: 3;">
                            <div class="col-sm-auto s1 tooltipped" data-tooltip="Ver y crear recetas" style="margin-top: -5vh;">
                                <div class="icon-block">
                                    <h2><span class="material-icons red-text text-darken-3">book</span></h2>
                                    <p class="light center"></p>
                                </div>
                            </div>
                            <div class="col-sm-auto s1 tooltipped" data-tooltip="Calificar las recetas">
                                <div class="icon-block">
                                    <h2><span class="material-icons red-text text-darken-3">announcement</span></h2>
                                    <p class="light center"></p>
                                </div>
                            </div>
                            <div class="col-sm-auto s1 tooltipped" data-tooltip="Filtrar por ingredientes especificos">
                                <div class="icon-block">
                                    <h2><span class="material-icons red-text text-darken-3">assignment</span></h2>
                                    <p class="light center"></p>
                                </div>
                            </div>

                        </div>                            
                    </div>
                </div>

                   
                        </div>
                    </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="section">
        <div class="container" style="position:relative; padding-bottom: 56.25%; height: 0;overflow: hidden;">
            <iframe width="auto" height="auto" style="position: absolute; top:0; left: 0; width: 100%;
            height: 100%; "src="https://www.youtube.com/embed/ifeUK1apI_4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <a href="{{ url_for('recetas') }}">
            <div class="btn btn-large red darken-4  waves-effect col s6 m4 offset-s3 offset-m4 hoverable">
                <div class="valign-wrapper" style="">
                    <span class="col s2 material-icons">
            book
          </span>
                    <div class="col s10 tooltipped " style="height: 55px;" data-position="bottom" data-tooltip="Empieza a explorar las recetas">
                        Ver recetas
                    </div>
    
                </div>
            </div>
        </a>
    </div>

    <br><br>
</div>

{% endblock %}