{% extends 'layout.html' %} {% block content %}
<br>
<div class="container border">
    <div class="row">
        <div class="col s12 l5 ">
            <div class="card">
                <div class="card-content">
                    <div class="card-title center red-text" style="font-weight: bold;">
                        {{receta['title']}}
                    </div>
                    <br>
                    <div class="row">
                        <img src="/images/{{receta['images']['0']}}" class="col s10 m8 offset-s1 offset-m2 materialboxed">

                        <br>
                        <p class="col s12 center text-center">
                            <br>
                            <h7 class="materialize-red-text">Descripción de la receta </h7>
                            <br> {{receta['description']}}
                            <br>
                            <br>
                            <br>
                            <h7 class="materialize-red-text">Tiempo de preparación </h7>
                            <br> {{receta['tiempo']}} minutos
                            <br>
                            <br>
                            <br>
                            <h7 class="materialize-red-text">Ingredientes </h7>
                            <br> 
                            <div class="container">
                                <table style="text-align:center; margin: 0 auto;" cellspacing="0">
                                    <tr>
                                        {% set contador = [0] %}
                                        {% for ingre in receta['ingredientes'] %}
                                            {% if (contador[0] % 2 | int) == 0 %}
                                                <tr></tr>
                                            {% endif %}
                                            {% if contador.append(contador.pop() + 1) %}{% endif %}
                                            <th>{{ingre}}</th>
                                        {% endfor %}
                                    </tr>
                                </table>
                            </div>
                            <br>
                            <br>
                            <div class="container center">
                                <h7 class="materialize-red-text">Autor de la receta </h7>
                                <br> {{receta['usuario']}}
                            </div>
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 l7">
            <div class="card">
                <div class="card-content">
                    <div class="card-title center" style="font-weight: bold;">
                        <h7 class="materialize-red-text">Preparación </h7>
                        <br>
                        <br> 
                        <h6>{{receta['preparacion']}}</h6>
                        <br>
                        <h7 class="materialize-red-text">Video de preparación</h7>
                        <br>
                        <br>
                        <div class="container">
                            <iframe width="auto" height="auto" style=" width: 100%;
            height: 100%; "src="{{receta['link']}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <br>
                    
                </div>
            </div>
        </div>
    </div>
    <ul class="container-fluid rounded" style="background-color: white;">
        <li>
            <div class="container" style="background-color: white;">
                <table >
                    <tr>
                        <th><a>Nickname</a></th>
                        <th><a>Comentario</a></th>
                    </tr>
                </table>
            </div>
                <div class="container">
                    <table >
                        {% for comment in comentarios %}
                        <tr>
                            {% if (comment['receta'] | string()) == receta['_id'] | string() %}
                            <th>{{comment['usuario']}}</th>
                            <th>{{comment['comentario']}}</th>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <br>
                <br>
                <br>
                <div class="container">
                    <a>¿Quieres comentar?</a>
                    <form method="POST" action="{{ url_for('comentar') }}" enctype=multipart/form-data id="myForm">
                        <div class="input-field col s12">
                            <input name="usuario" id="usuario" type="hidden" value="{{session['nickname']}}" class="validate" required>
                        </div>
                        <div class="input-field col s12">
                            <input name="receta" id="receta" type="hidden" value="{{receta['_id']}}" class="validate" required>
                        </div>
                        <div class="input-field col s12">
                            <input placeholder="Comenta esta receta" name="comentario" id="comentario" type="text" class="validate" required>
                            <label for="comentario"></label>
                        </div>
                        <div class="input-field col s5 offset-s4">
                            <input type="submit" class="btn red darken-4 center" value="Comentar">
                        </div>
                    </form>
                    <br>
                    <br>
                </div> 
            </div>
        </li>
      </ul>
</div>
<script>
    function sendForm() {
        var valido = false; //DEBERIAS REALIZAR LAS VALIDACIONES
        if (valido) {
            document.getElementById("myForm").submit();
        } else {
            return false;
        }
        }
</script>
{% endblock %}